*{
font-family:Arial, Helvetica, sans-serif;
box-sizing:border-box;


}
body{

    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
.piyano{

width:600px;
height:300px;
position:relative;

}

a{
    color:black;

}

.key1{
    padding-left:5%;
    position:absolute;
   height:50%;
   width:100%;
   z-index:2;
   display:flex;
   
}
.key1 a {
    display: block;
    width: 10%;
    height: 100%;
    background-color:black;
    margin:0px 2px 0px 2px;
}

    .key1 a:nth-child(3), .key1 a:nth-child(6) {
        margin-left: 10%;
    }




.key2 {
    position: absolute;
    height:100%;
    width:100%;
    z-index:1;
    display:flex;
}

.key2 a{

    display:block;
    width:10%;
    height:100%;
    background-color:aliceblue;
    border:solid 1px;


}